@import "../../../assets/Sass/variables"

#header
	display: flex
	height: 100vh
	align-items: center
	animation: InitAnimation 3s ease-in-out

	.mobile-nav-toggle
		animation: InitAnimation 3s ease-in-out 3s both

	h1
		font-size: 5vh
		line-height: 1
		font-weight: 700
		font-family: "Poppins", sans-serif
		display: inline

		&:hover
			font-size: 5.1vh

		a, a:hover
			color: $TextColor
			line-height: 1
			display: inline-block
			text-decoration: none

	h2
		font-size: 2.5vh
		margin-top: 3vh
		color: rgba(255, 255, 255, 0.8)

		span
			color: $TextColor
			border-bottom: 2px solid $MainColor
			padding-bottom: 0.5vh

	img
		padding: 0
		margin: 0

	.social-links
		margin-top: 3vh
		display: flex

		a
			font-size: 2.5vh
			display: flex
			justify-content: center
			align-items: center
			background: rgba(255, 255, 255, 0.1)
			color: $TextColor
			line-height: 1
			margin-right: 10px
			border-radius: 50%
			width: 5vh
			height: 5vh

		a:hover
			background: $MainColor

@media (max-width: 900px)
	#header
		h1
			font-size: 36px

		h1:hover
			font-size: 40px

		h2
			font-size: 20px
			line-height: 30px

		.social-links
			margin-top: 15px

		.container
			display: flex
			flex-direction: column
			align-items: center

#header.header-top
	height: 80px
	position: fixed
	left: 0
	top: 0
	right: 0
	background: rgba(0, 0, 0, 0.9)

	.social-links,h2
		display: none

	h1
		margin-right: auto
		font-size: 36px

	.container
		display: flex
		align-items: center
		animation: none

	.navbar
		margin: 0

@media (max-width: 768px)
	#header.header-top
		height: 60px

		h1
			font-size: 26px

@keyframes InitAnimation
	0%
		opacity: 0%

	100%
		opacity: 100%
