header
	position: absolute
	display: flex
	align-items: center
	height: 100%
	width: 100%

	h1
		color: rgb(255, 110, 5)
		font-size: 48px
	h1:hover
		font-size: 50px
	h2
		color: rgb(200, 80, 0)
		font-size: 24px
	ul
		display: flex
		li
			margin: 5px

.header-on-top
	display: block
